Package: com.ps.ytdarker
Name: YTDarker
Version: 1.0.0
Architecture: iphoneos-arm
Description: Enable native darker dark mode on YouTube.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
